<!DOCTYPE html>
<!-- {% load static %} -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'lab_1/css/style.css' %}"> -->

<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
    body {
        
    font-family: 'ABeeZee';font-size: 18px;
    }
    img{
        box-shadow: 0px 0px 10px greenyellow;
        align-self: center;
        max-height: 300px;
        max-width: vh;
    }
    .card{
        overflow: auto; 
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 25px;
        background-color:white;
        box-shadow: 0px 0px 10px greenyellow;
        max-width: 1000px;
        height:auto;
        padding: 30px;
        position: relative;
    }
    .card-photo{
        text-align: center;
        float: left;
        width: 40%;    
    }
    .card-text{
        float:right;
        width: 54%;
        text-align: justify
    }
    .card-vertical-line {
        float:left;
        border-left: 1px solid greenyellow;
        height: 19rem;
        width:2%
    }
</style>
<body>
    <!-- </div>
    <div class = "card">
        <div class = "card-photo">
        </div>
        <div class = "card-text">
        </div>
    </div> -->
    <div class = "card-text">
        <p style="font-size: 24px">Hello There!</p>
    </div>
    
    <br><br><br><br>

    
    <div class = "card">
        <div class = "card-photo">
            <img src="https://i.imgur.com/i8e9WRJ.jpg">
        </div>
        <div class="card-vertical-line"></div>
        <div class = "card-text">
            <p>{{ name }}</p>
            <p>{{NPM}}</p>
            <p>I am {{ age }} years old, and my hobbies are {{hobby}}.{{desc}}</p>
        </div>
        </div>
    <div class = "card">
        <div class = "card-photo">
            <img src="https://i.imgur.com/YyReJfj.jpg">
        </div>
        <div class="card-vertical-line"></div>
        <div class = "card-text">                
            <p>Danny August Ramaputra</p>
            <p>1706019791</p>
            <p >I am 19 years old. I am a computer science student in the Faculty of Computer Science, University of Indonesia. Playing musical instruments and playing games are what I usually do in my free time.</p>
        </div>
        </div>
    <div class = "card">
        <div class = "card-photo">
            <img src="https://i.imgur.com/aNyDyDY.jpg">
        </div>
        <div class="card-vertical-line"></div>
        <div class = "card-text">
            <p>Muhammad Ilman Nafian</p>
            <p>1706067626</p>
            <p>Im studying at Faculty of Computer Science at University of Indonesia. My NPM is quite unique because theres many 6 in there. My day to day activity is playing games, watching videos online, and sometimes browse Reddit.</p>
        </div>
    </div>

</body>
</html>